body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}
.logo {
  width: 15%;
}
.card {
  display: inline-block;
  width: 50%;
}
.card img {
  float: left;
  width: 40%;
  margin-right: 20px;
}
.card h2 {
  margin-top: 0;
}
.left {
  float: left;
}
p {
  font-size: 0.9rem;
}

h1 {
  font-size: 3.5rem;
  width: 50%;
}
h1 span {
  color: blueviolet;
}
footer {
  clear: both;
  text-align: right;
  color: midnightblue;
}
@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
